* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;

    display: block;

    z-index: 1;
}

svg,
object {
    opacity: 0;
    z-index: 0;
}