* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;

  display: block;

  z-index: 1;
}

ul {
  list-style: none;
}

.is-hidden {
  display: none !important;
}

.is-centered {
  text-align: center;
}


/*
 Button prototype
*/
button {
  background: transparent;
  background-color: rgba(228, 228, 228);
  border-radius: 50px;
  cursor: pointer;
}

  button:active,
  button:focus {
    outline: none;
  }


/*
 Top controls - play/pause button
*/
.top-controls {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  z-index: 2;
}

  .top-controls button {
    background-color: transparent;
  }

    .top-controls button .icon {
      color: rgba(203,203,203);
      font-size: 50px;
    }

      .top-controls button:hover .icon {
        color: black;
      }


/*
 Toolbar prototype
*/
.toolbar {
  z-index: 2;
  position: relative;
}

  .toolbar li {
    margin-bottom: 20px;
  }

  .toolbar button {}

    .toolbar button:focus {
      outline: none;
      border-radius: 50px;
      box-shadow: 0 0 10px rgba(0,0,255,.5);
    }

    .toolbar button:hover,
    .toolbar button.is-active {
      background-color: rgba(51,51,51);
      color: white;
      box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    }

    .toolbar button:hover .icon,
      .toolbar button.is-active .icon {
        opacity: .85;
        color: white;
      }

      .toolbar button:hover .text {
        display: inline-block;

      }

    .toolbar button .icon {
      color: black;
      font-size: 26px;
      opacity: .4;
      padding: 15px;
      min-width: 60px;
      vertical-align: middle;
      text-align: center;
      pointer-events: none;
    }

    .toolbar button .text {
      display: none;
      font-size: 18px;
      opacity: .85;
      vertical-align: middle;
      text-align: right;
      pointer-events: none;
    }


/*
 Left menu - drawing tools
*/
.left-menu {
  position: absolute;
  left: 20px;
  top: 20px;
}

  .left-menu button .text {
    margin-left: -5px;
    padding-right: 25px;
  }


/*
 Right menu - view source, help, etc
*/
.right-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}

  .right-menu button .text {
    margin-right: -5px;
    padding-left: 25px;
  }


/*
  Modal window
*/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

  .modal.is-visible  {
    display: flex;
  }

    .modal.is-visible .modal-backdrop {
      background-color: rgba(0,0,0,.4);
    }

  .modal .modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0);
    transition: background-color .3s linear;
  }

  .modal .modal-content {
    position: relative;
    background-color: rgba(0,0,0,1);
    padding: 30px 40px;
    color: rgba(255,255,255,.7);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0,0,0,.4);
  }

    .modal .modal-content .close {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 30px;
      opacity: .5;
      cursor: pointer;
    }

      .modal .modal-content .close:hover {
        opacity: 1;
      }

    .modal .modal-content h1,
    .modal .modal-content h2,
    .modal .modal-content h3 {
      margin-bottom: 10px;
      color: rgba(255,255,255,.9);
    }

    .modal .modal-content p {
      margin-bottom: 20px;
    }

    .modal .modal-content a {
      color: rgb(255,255,255,.8);
      font-weight: bold;
    }

      .modal .modal-content a:hover {
        color: rgba(255,255,255,1);
      }

    .modal .modal-content code {
      background-color: rgba(255,255,255,.75);
      color: rgba(0,0,0,.8);
      padding: 4px 8px 4px 8px;
      font-weight: bold;
      border-radius: 3px;
      display: inline-block;
    }

  .modal .modal-content .columns {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    border-top: 1px solid rgba(255,255,255,.2);
  }

    .modal .modal-content .columns .column {
      flex: 1;
      flex-basis: 50%;
      padding: 20px;
      border-right: 1px solid rgba(255,255,255,.2);
      border-bottom: 1px solid rgba(255,255,255,.2);
    }

      .modal .modal-content .columns .column:nth-of-type(odd) {
        padding-left: 0;
      }

      .modal .modal-content .columns .column:nth-of-type(even) {
        border-right: 0;
        padding-right: 0;
      }


  /* Keyboard controls modal */
  .modal .modal-content .keyboard-controls-content {}

    .modal .modal-content .keyboard-controls-content h2 {
      margin-bottom: 20px;
    }

    .modal .modal-content .keyboard-controls-content li {
      margin-bottom: 10px;
    }


  /* About modal */
  .modal .modal-content .about-content {
    width: 700px;
  }

    .modal .modal-content .about-content .columns {
      margin-top: 30px;
    }


  /* Adjust parameters modal */
  .modal .modal-content .parameters-content {}

    .modal .modal-content .parameters-content .column {
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin: 10px 0;
      width: 375px;
    }

      .modal .modal-content .parameters-content .column:first-of-type {
        padding-right: 5px;
      }

      .modal .modal-content .parameters-content .column:last-of-type {
        padding-left: 5px;
      }

    .modal .modal-content .parameters-content fieldset {
      background-color: rgba(255,255,255,.1);
      padding: 15px;
      margin-bottom: 10px;
    }

      .modal .modal-content .parameters-content .control {
        margin-bottom: 8px;
      }

        .modal .modal-content .parameters-content .column:last-of-type fieldset:first-of-type .control:last-of-type {
          margin-bottom: 0;
        }

        .modal .modal-content .parameters-content .control.range {
          margin-bottom: 25px;
        }

          .modal .modal-content .parameters-content .control.range:last-of-type {
            margin-bottom: 10px;
          }

      .modal .modal-content .parameters-content fieldset label {
        vertical-align: middle;
        width: 150px;
        display: inline-block;
      }

      .modal .modal-content .parameters-content fieldset input {
        vertical-align: middle;
      }

        /* Custom checkboxes */
        .modal .modal-content .parameters-content fieldset input[type='checkbox'] {
          display: none;
        }

        .modal .modal-content .parameters-content fieldset:not(:first-of-type) input[type='checkbox'] + label {
          width: 200px;
          margin-bottom: 10px;
        }

        .modal .modal-content .parameters-content fieldset input[type='checkbox'] + label:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          font-size: 12px;
          font-weight: bold;
          content: ' ';
          color: black;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
          width: 15px;
          height: 14px;
          background-color: white;
          vertical-align: middle;
          border-radius: 2px;
          margin-right: 10px;
          margin-top: -2px;
          padding-top: 2px;
        }

          .modal .modal-content .parameters-content fieldset input[type='checkbox']:checked + label:before {
            content: '\f00c';
          }

      /* Value next to ranges */
      .modal .modal-content .parameters-content fieldset .value {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        opacity: .8;
        margin-left: 5px;
        vertical-align: middle
      }

      /* Description under ranges */
      .modal .modal-content .parameters-content fieldset .description {
        font-size: 14px;
        opacity: .5;
        margin-top: 5px;
      }

    /* Apply button */
    .modal .modal-content .about-content .start,
    .modal .modal-content .parameters-content .apply {
      border-radius: 5px;
      font-size: 16px;
      color: rgba(255,255,255,.7);
      padding: 10px 20px;
      background-color: rgba(255,255,255,.2);
    }

      .modal .modal-content .about-content .start:hover,
      .modal .modal-content .parameters-content .apply:hover {
        color: rgba(255,255,255,.9);
        background-color: rgba(255,255,255,.3);
      }

/*
  Inverted colors mode
*/
.is-inverted {}

  .is-inverted .modal.is-visible .modal-backdrop {
    background-color: rgba(255,255,255,.1);
  }

/*
  Custom range styles 
*/
input[type=range] {
  background-color: transparent;
  -webkit-appearance: none;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0;
  background: rgba(0,0,0,1);
  border-radius: 0;
  border: 0;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0;
  border: 0;
  height: 15px;
  width: 15px;
  border-radius: 0;
  background: rgba(255,255,255,.5);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,0,0,1);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 0;
  background: rgba(0,0,0,1);
  border-radius: 0;
  border: 0;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0;
  border: 0;
  height: 15px;
  width: 15px;
  border-radius: 0;
  background: rgba(255,255,255,.5);
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(0,0,0,1);
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

input[type=range]::-ms-fill-upper {
  background: rgba(0,0,0,1);
  border: 0;
  border-radius: 0;
  box-shadow: 0;
}

input[type=range]::-ms-thumb {
  box-shadow: 0;
  border: 0;
  width: 15px;
  border-radius: 0;
  background: rgba(255,255,255,.5);
  cursor: pointer;
  height: 15px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(0,0,0,1);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(0,0,0,1);
}


input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-moz-range-thumb:hover,
input[type=range]::-ms-thumb:hover {
  background: rgba(0,0,0,.8);
}
